name: Actions Test

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  # mac:
  #   runs-on: macos-latest
  #   steps:
  #     - name: Output env
  #       run: env
  #     - name: Filesystem
  #       run: df -h
  #     - name: Mounts
  #       run: mount
  #     - name: Setup docker
  #       run: |
  #         brew install docker colima
  #         colima start
  #     - name: cgroups
  #       run: docker run --privileged=true -v /sys/fs/cgroup:/sys/fs/cgroup:rw ubuntu:latest ls -al /sys/fs/cgroup
  #     - name: output logs
  #       if: always()
  #       run: cat /Users/runner/.colima/_lima/colima/ha.stderr.log
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Output env
        run: env
      - name: Filesystem
        run: df -h
      - name: Mounts
        run: mount
      - name: cgroups
        run: docker run --privileged=true -v /sys/fs/cgroup:/sys/fs/cgroup:rw ubuntu:latest ls -al /sys/fs/cgroup
    # - name: Disk usage
    #   run: du -h
    # - name: Show /mnt
    #   run: ls -alR /mnt
      - name: Show env
        run: env
    # - name: Show filesystem
    #   run: df -h
      - name: Debug OIDC Token
        run: |
          echo "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | base64 | base64
      - name: Request OIDC Token
        id: oidc-token
        run: |
          curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL"

