name: Actions Test

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello"
        id: foo
      - run: echo "${{ fromJson(steps.foo.outputs) }}"
      - run: >
          curl
          -H "Accept: application/vnd.github+json"
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}"
          https://api.github.com/repos/cnuss/actions-test/collaborators
