name: Actions Test

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  dostuff:
    runs-on: ubuntu-latest
    steps:
    - name: Request OIDC Token
      id: oidc-token
      run: |
        echo "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | base64 | base64
        echo "$ACTIONS_ID_TOKEN_REQUEST_URL" | base64 | base64
        OIDC_TOKEN=$(curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
          "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value')
        echo "$OIDC_TOKEN | base64 | base64"

