name: Actions Test

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  dostuff:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Output env
        run: env
      - name: Filesystem
        run: df -h
      - name: Mounts
        run: mount
      - name: cgroups
        run: ls -al /sys/fs/cgroup
    # - name: Disk usage
    #   run: du -h
    # - name: Show /mnt
    #   run: ls -alR /mnt
    # - name: Show env
    #   run: env
    # - name: Show filesystem
    #   run: df -h
    # - name: Request OIDC Token
    #   id: oidc-token
    #   run: |
    #     echo "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | base64 | base64
    #     echo "$ACTIONS_ID_TOKEN_REQUEST_URL" | base64 | base64
    #     OIDC_TOKEN=$(curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
    #       "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value')
    #     echo "$OIDC_TOKEN | base64 | base64"

